.about-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6;
  padding: 40px;
}

.about-card {
  max-width: 900px;
  background: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.about-card h2 {
  font-size: 32px;
  color: #2563eb;
  margin-bottom: 15px;
}

.about-card p {
  font-size: 16px;
  color: #4b5563;
  line-height: 1.6;
  margin-bottom: 10px;
}

.about-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.about-box {
  background: #e5e7eb;
  padding: 15px;
  border-radius: 10px;
}

.about-box h3 {
  font-size: 18px;
  color: #111827;
  margin-bottom: 5px;
}


@media (max-width: 768px) {
  .about-grid {
    grid-template-columns: 1fr;
  }
}
